body{
    font-size: 100%;
    margin: 0px;
}

h1{
    background-color: hsla(18, 100%, 50%, .5);
    border: double #eee 10px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
}

/* TEXT DECORATION */
a{
    /* text-decoration: line-through; */
    text-decoration: none;
    /* text-transform: uppercase; */
    text-transform: capitalize;
}
/* ******************************************************************************* */
/* POSITIONS */

/* ABSOLUTE: DEFAULT */

/* RELATIVE */


/* position fixed, donde podemos ubicar a nuestro componente y no se vera afectado por el scroll */
/* .title{
    position: fixed;
    top: 0px;
    left: 33%;
    right: 33%;
} */
.title{
    width: 300px;
    margin: auto;
}

.piramide{
    position: relative;
    border-radius: 10px;
    width: 400px;
}

.visita{
    width: 400px;
    border: double 10px blue;
    border-radius: 50%;
}

.thumb{
    width: 150px;
    border-radius: 50%;
    border: 5px solid #ddd;
    
}

.thumb:hover{
    width: 200px;
    box-shadow: 0 0 2px  1px rgba(0, 140, 186, .5=8);
}

.container{
    /* position: relative; */
    /* border: 1px solid red;
    height: 150px; */
    /* padding: 10px 5px 10px 5px; */
}

.text{
    text-align: center;
}
/* FITLTRO OPACY, SOLO VA A AFECTAR A NUESTRAS IMAGENES */
.polaroid img{
    /* opacity: .4;  */
    /* filter: blur(2px); */
    /* filter: brightness(.2); */
    /* filter: contrast(.2); */
    /* filter: grayscale(1); */
    /* filter: hue-rotate(120deg); */
      /* filter: invert(.2);   */
      /* filter: saturate(.2);   */
      filter: sepia(.2);  
}

.polaroid img:hover{
    /* opacity: 1; */
    /* filter: blur(0); */
    /*  */
    /* filter: brightness(1); */
    /* filter: contrast(1); */
    /* filter: grayscale(.2); */
    /* filter: hue-rotate(360deg); */
    /* filter: invert(1); */
    /* filter: saturate(3); */
    filter:sepia(3);
    cursor: pointer;
}


.imgtext{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    color: white;
}

div.polaroid{
    position: relative;
    background-color: white;
    width: 300px;
    /* opacity: .2; */
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    display: block;
    transition: width 2s, transform .3s;
    transition-delay: 1s;


    animation-name: roll;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;


}

div.polaroid:hover{
    /* transform: translateY(50px); */
    /* transform: rotate(50deg); */
    /* transform: scale(1.5,2); */
    /* width: 300px;
    transform: rotate(360deg); */
}

.cubo{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s, heigth 2s, transform 4s;
    transition-timing-function: ease-in;


}

/* -----------------------PSEUDOCLASES------------------ */

/* .parrafo::first-line{
    color: orange;
} */
/* .parrafo::first-letter{
    color: red;
    font-size: 3em;
} */

.parrafo::selection{
    background-color: red;
    color: white;
}

@keyframes ejemplo{
    /* from{ background-color: red;}
    to{ background-color: yellow;} */
    0%{ background-color: red;}
    25%{ background-color: orange;}
    50%{ background-color: yellow;}
    100%{ background-color: blue;}
}

@keyframes skew{
    0%{ transform:  skewX(20deg);}
    100%{ transform:  skewY(-20deg);}
}


@keyframes roll{
    0%{ transform:  rotate(0);}
    100%{ transform:  rotate(360deg);}
}

/* ------------------------- MEDIA  QUERYS-------------- */
@media screen and (max-width: 480px){/* iphone 4 */
    body{
        background-color: red;
    }

}

@media screen and (min-width: 481px) and (max-width:760px){/* phablets o tablets */
    body{
        background-color: green;
    }

    .cubo{
        display: none;
    }
}

@media screen and (min-width: 761px){/* phablets o tablets */
    body{
        background-color: yellow;
    }

    div.polaroid{
        display: inline-block;
        margin-left: 1%;
    }

    .cubo{
        display: none;
    }

}