body{
    font-size: 100%;
    margin: 0px;
}

h2{
    margin: 5px;
}

h1{
    background-color: hsla(18, 100%, 50%, .5);
    border: double #eee 10px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);

}

/* TEXT DECORATION */
a{
    /* text-decoration: line-through; */
    text-decoration: none;
    /* text-transform: uppercase; */
    text-transform: capitalize;
}
/* ******************************************************************************* */
/* POSITIONS */

/* ABSOLUTE: DEFAULT */

/* RELATIVE */


/* position fixed, donde podemos ubicar a nuestro componente y no se vera afectado por el scroll */
/* .title{
    position: fixed;
    top: 0px;
    left: 33%;
    right: 33%;
} */
.title{
    width: 300px;
    margin: auto;
}

.cat{
    position: absolute;
    margin: 0px;
}

.container{
    position: relative;
    border: 1px solid red;
    height: 150px;
    /* padding: 10px 5px 10px 5px; */
}