h1,p{
    color: green;
    text-align: center;
}

.ejemplo{
    background-color: rgb(255, 0, 0);
    height: 20px;
}

/* here we replace */
h2.ejemplo{
    color: white;
    height: 40px;
}

/* vamos a afectar a los nietos, si es hijo,solo se pondra el signo mayor. */
/* lo que dice el padre prevalece, y los hijos van a obedecer */
#colores > ul >li{
    background-color: yellow;
    color: red; 
    font-size: 2em;
}

#orange{
    color: orange !important;
}
#green{
    color: green;
}
#red{
    color: red;
}

/* selector de atributos */
a[href="juan.com"]{
    color: red;
}

a[class="ejemplo"]{
    color: red;
}
